<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jeevscode.android.r6companion">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.jeevscode.android.r6companion.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jeevscode.android.r6companion.Activities.OperatorActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.jeevscode.android.r6companion.Activities.UnitOperatorActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.jeevscode.android.r6companion.Activities.WeaponsListActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.jeevscode.android.r6companion.Activities.WeaponItemActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.jeevscode.android.r6companion.Activities.RandomActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.jeevscode.android.r6companion.Activities.SpeedActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.jeevscode.android.r6companion.Activities.DisclaimerActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.jeevscode.android.r6companion.Activities.CameraActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.jeevscode.android.r6companion.Activities.CameraLocationsActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.jeevscode.android.r6companion.Activities.CameraZoomActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.jeevscode.android.r6companion.Activities.MapsActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.jeevscode.android.r6companion.Activities.MapsLocationsActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.jeevscode.android.r6companion.Activities.RandomCheckActivity"
            android:screenOrientation="portrait"></activity>

    </application>

</manifest>